.venv*
*.pyc
open_models.md
__pycache__/

.env
.env*
*.env
backend/.env
backend/.env*

frontend/node_modules
website
frontend/src/uploads

# Internal planning docs
docs/ignore_documents
/backend/ignore_folders_documents

/mockups

